
.xu-text-title {
  font-size:18px;
  color: #252631;
  margin-bottom: 10px;
  display: inline-block;
}

.xu-text-second {
  font-size: 16px;
  margin-bottom: 10px;
}

.xu-text-std {
  font-size: 16px;
}

.xu-text-main-color {
  color: #252631;
}

